---
import type { z } from "astro:content";
import type { quoteSchema } from "../content/config";

type Body = z.infer<typeof quoteSchema>;

interface Props {
	body: Body;
	slug: string;
}

const {
	slug,
	body: {
		quote,
		author,
		backgroundColor,
		textColor,
		borderColor,
		cardSize
	},
} = Astro.props;

let colSpan = "md:col-span-1";
if (cardSize === "medium") {
  colSpan = "md:col-span-2 md:row-span-2";
} else if (cardSize === "large") {
  colSpan = "md:col-span-3 md:row-span-3";
}

---

<li class={colSpan}>
	<a
		href={slug}
		class="h-full p-4 lg:py-6 lg:px-8 border-2 border-zinc-400 bg-zinc-100 rounded-2xl flex flex-col"
		style={{ backgroundColor, color: textColor, borderColor }}
		transition:name={slug}
	>
		<div class="flex-1">
			<div class="font-semibold text-xl mb-2">
				{quote}
			</div>
			<div class="font-light text-md italic opacity-60">
				— {author}
			</div>
		</div>
	</a>
</li>
